<?xml version="1.0"?>
<launch>

	<remap from="pcd_data" to="point_cloud"/>
	<node name="pcd_publisher_node" pkg="industrial_pcl_utilities" type="pcd_to_msg_node"
		args="-f $(find industrial_pcl_utilities)/pcd/test_table_objects.pcd -r 0.5 -n 0.004 -i world_frame" output="screen">
		<rosparam param="cloud_transform">{rx: 0.96, ry: 0.0, rz: -1.57, x: 0.28, y: 0.0, z: 0.48}</rosparam>
	</node>

	<node name="rviz_industrial_pcl_utilities" pkg="rviz" type="rviz" 
		args="-d $(find industrial_pcl_utilities)/rviz/display_pcd.rviz" output="screen"/> 
</launch>
